:export {
  primary: $primary;
  neutral: $neutral;
  neutral1: $neutral-1;
  statusError: $status-error;
  statusWarn: $status-warn;
  statusInfo: $status-info;
  bgSuccess: $bg-success;
  bgError: $bg-error;
  bgWarn: $bg-warn;
  bgInfo: $bg-info;
}